[Unit]
Description=Activity Tracker Flask App
After=network.target

[Service]
Type=simple
User=USER
WorkingDirectory=/home/USER/ActivTracker/src
ExecStart=/home/USER/.local/bin/uv run gunicorn -k gevent -w 1 -b 0.0.0.0:8000 'app:init()'
Restart=always
RestartSec=5
Environment=FLASK_ENV=production
Environment=STATIC_ROOT=/var/www/activ/static

[Install]
WantedBy=multi-user.target
