<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}Activity Tracker{% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alerts.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/properties.css') }}">
    {% block head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    <header>
        <h1>
            {% block header %}Activity Tracker{% endblock %}
        </h1>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul class="flash">
            {% for category, message in messages %}<li class="{{ category }}">{{ message }}</li>{% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Wrap all template content in a centering div -->
        <div class="content-wrapper">
            {% block content %}{% endblock %}
        </div>
    </main>
    <nav>
        <a href="{{ url_for("index") }}">Home</a>
        <a href="{{ url_for("action.list_actions") }}">Actions</a>
        <a href="{{ url_for("dashboard.show_token") }}">API Token</a>
        <a href="{{ url_for("settings.account_settings") }}">Settings</a>
        {% if session.get('user_id') %}
        <a href="{{ url_for("auth.logout") }}">Logout</a>
        {% else %}
        <a href="{{ url_for("auth.login") }}">Login</a>
        <a href="{{ url_for("auth.register") }}">Register</a>
        {% endif %}
    </nav>
    {% block scripts %}{% endblock %}
</body>

</html>