{% extends "base.html" %}
{% block title %}
    Create Action
{% endblock title %}
{% block content %}
    <div class="form-container">
        <h1>Create New Action</h1>
        <form method="post">
            {{ form.csrf_token }}
            <div>
                {{ form.name.label }}
                {{ form.name }}
                {% if form.name.errors %}
                    <ul class="form-errors">
                        {% for error in form.name.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                {{ form.notes.label }}
                {{ form.notes }}
                {% if form.notes.errors %}
                    <ul class="form-errors">
                        {% for error in form.notes.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>
                {{ form.properties.label }}
                {{ form.properties }}
                {% if form.properties.errors %}
                    <ul class="form-errors">
                        {% for error in form.properties.errors %}<li>{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div>{{ form.submit(class="btn btn-primary") }}</div>
            <a href="{{ url_for('action.list_actions') }}" class="cancel-link">Back</a>
        </form>
    </div>
{% endblock content %}
