{% extends "base.html" %}
{% block body_class %}
    auth-page
{% endblock body_class %}
{% block title %}
    Register
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/auth.css') }}">
{% endblock head %}
{% block content %}
    <div class="auth-container">
        <h1>Register</h1>
        <form method="post">
            {{ form.csrf_token }}
            <div>
                {{ form.username.label }}
                {{ form.username }}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <br>
            <button type="submit">Register</button>
        </form>
        <a href="{{ url_for('auth.login') }}" class="auth-link">Already have an account? Login</a>
    </div>
{% endblock content %}
